.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  color: #367;
  margin-left: 50px;
  margin-right: 50px;
}

.card h4 {
  padding: 10px 0px;
}

.card {
  transition: .5s;
  background: #eee;
}

.card:hover, h5 {
  color: #2853e2;
} 

.card:hover {
  transform: scale(1.03);
  background: #367;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 0 3vw;
  margin-bottom: 16px;
  background-color: #EEEEEE;
}

#app-title {
  display: flex;
  flex: 1;
}

#app-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
}

.addRecipes {
  border-style: solid;
}

a {
  color: #367;
}